* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #cf9625;
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 5em;
  border-radius: 2em;
  text-align: center;
}

.container h1 {
  text-align: center;
  margin-bottom: 1em;
  padding-top: 1em;
  text-shadow: gray 1px 1px;
}

.search {
  text-align: center;
  margin-bottom: 1em;
  text-shadow: grey 1px 1px;
}

.search span {
  margin-right: 1em;
}

.search input {
  border-radius: 2em;
  margin-right: 2em;
}

#priority-button{
  margin-left: 2em;  
}

.container button {
  border-radius: 2em;
  padding: 0.5em;
}

.container ul {
  margin-left: 2em;
  display: inline;
}

.container ul li {
text-shadow: grey 1px 1px;
  display: inline;
}

.container ul li {
  text-decoration: none;
}

.container ul li div {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  color: rgba(22, 2, 2, 0);
  text-shadow: none;
}

#one {
  background-color: rgb(7, 166, 139);
}

#two {
  background-color: rgb(240, 240, 19);
}

#three {
  background-color: rgb(186, 97, 2);
}

#four {
  background-color: rgb(214, 43, 17);
}

.todos div {
  background-color: rgb(7, 166, 139);
  text-align: left;
  margin: 1em 2em 1em 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  border-radius: 2em;
}

#save-changes {
  display: none;
}

#cancel {
  display: none;
}

#delete {
  display: none;
}

.todos input {
  display: none;
  margin-right: 5em;
}

.todos div button :hover {
  transition: 0.3s;
}

.todos span {
  display: inline-block;
  border-radius: 2em;
  padding-left: 3em;
  font-weight: 500;
  text-shadow: green 1px 1px;
  font-size: 1.4em;
  max-width: 90%;
  overflow: hidden;
}

#editForm {
  margin-left: 1em;
}

.todos button {
  display: none;
  margin-right: 2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 2em;
}

.new-task {
  background-color: #fcf3e1;
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 2em;
}

.new-task button {
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
}

.new-task input {
  border-radius: 2em;
}
